h3 Branch Offices
table.table.table-striped.table-bordered.table-hover.table-responsive
    thead.table-dark
        tr
            th Location
            th Address
            th Phone
    tbody
        tr
            td New York
            td 123 Main St, New York, NY 10001
            td (123) 456-7890
        tr
            td Los Angeles
            td 456 Ocean Ave, Los Angeles, CA 90001
            td (987) 654-3210
        tr
            td Chicago
            td 789 Lake Shore Dr, Chicago, IL 60601
            td (321) 987-6540