div#accordion.accordion
    div.accordion-item
        h2#headingOne.accordion-header
            button.accordion-button(type='button' data-bs-toggle='collapse' data-bs-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne') Quarterly Reports
        div#collapseOne.accordion-collapse.collapse.show(aria-labelledby='headingOne' data-bs-parent='#accordion')
            div.accordion-body

                - var quarters = ['January to March: Q1', 'April to June: Q2', 'July to September: Q3', 'October to December: Q4'];
                ul.nav.flex-column
                    each quarter in quarters
                        li.nav-item
                            a.nav-link.d-flex.align-items-center(href='#')
                                i.bi.bi-pie-chart.fs-5
                                | &nbsp;#{quarter}

    div.accordion-item
        h2#headingTwo.accordion-header
            button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseTwo' aria-expanded='false' aria-controls='collapseTwo') Monthly Reports
        div#collapseTwo.accordion-collapse.collapse(aria-labelledby='headingTwo' data-bs-parent='#accordion')
            div.accordion-body
                
                - var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
                ul.nav.flex-column
                    each month in months
                        li.nav-item
                            a.nav-link.d-flex.align-items-center(href='#')
                                i.bi.bi-calendar3.fs-5
                                | &nbsp;#{month}

    div.accordion-item
        h2#headingThree.accordion-header
            button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseThree' aria-expanded='false' aria-controls='collapseThree') Yearly Reports
        div#collapseThree.accordion-collapse.collapse(aria-labelledby='headingThree' data-bs-parent='#accordion')
            div.accordion-body

                - var years = ['2022', '2021'];
                ul.nav.flex-column
                    each year in years
                        li.nav-item
                            a.nav-link.d-flex.align-items-center(href='#')
                                i.bi.bi-graph-up-arrow.fs-5
                                | &nbsp;#{year}
